<!--File: football.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style>
H1 { text-align: center; width:1000px; font-size: 2.17em;    margin-left: 200px;}
#outer {
        position: absolute;
        background-color: lightgreen;
        height: 800px;
        width: 1200px;
        right:100px;
        top:100px;
        z-index: 0;
       }
#arrows {position: absolute; top: 130px; left: 650px;}
#arrowLeft   { position:absolute; z-index: leftArrowIsVisible }
#arrowRight  { position:absolute; } 
#field {
         margin:100px;
         float:left;
         width:1000px;
         height:600px;
         background-color:white;
       }
.qf {
    width: 250px;
    height: 600px;
    float: left;
    z-index:2;
}
#qfa {position: absolute; left: 100px;}
#mid {position:absolute; left:350px; width:500px; height:600px;}
#qfd {position: absolute; left: 850px;}

#ball {width:30px; height:30px; position:absolute; top:390px; left: <%=pxpos%>; z-index:5; }
.goal {width:30px; height:50px}
#g1{ position:absolute; top: 360px; left: 69px;width:30px; height:90px }
#g2{ position:absolute; top: 360px; left: 1098px; ;width:30px; height:90px}
#buttons {position: absolute; float: left; left: 900px; top: 140px;}
.button {margin:2px;}
#timer {position: absolute; top: 140px; left: 240px; width: 50px; height: 40px; background-color:white; font-size: xx-large; }
#scores{ top:400px }
#scoreA   {position:absolute; top:400px;  left: 250px; }
#scoreB   {position:absolute; top:400px;  left: 1350px; }
.scoreInput {width:25px;  font-size: x-large;}
#quest { }
#contestants {margin: 5px; position: absolute; left: 50px; top: 700px; width: 1090px;}
.team {margin-top:10px; margin-bottom:10px;}
.wideInput {width: 65%;}
.AnsLabel {margin-left: 25%;}
</style>
</head>

<body class="container">
<form id='game'>
              <input type="hidden" id="answerA" name="answerA" value=<%=answerA%>/> 
              <input type="hidden" name="answerB" id="answerB"  value=<%=answerB%>/> 
              <input type="hidden" id="leftArrowIsVisible" name="leftArrowIsVisible" value=<%=leftArrowIsVisible%>/> 
              <input type="hidden" id="ballLocation" name="ballLocation" value=<%=ballLocation%>/> 
              <input type="hidden" id="ballpxLocation" name="ballpxLocation" value=<%=pxpos%>/> 
              <input type="hidden" id="ballDirection" name="ballDirection" value=<%=ballDirection%>/> 
              <input type="hidden" id="remaining" name="remaining" value=<%=remaining%>/> 
 <H1><%= name %></H1>
    <div id="outer" >
      <div id="field">
         <img id="qfa" class="qf" src="/images/quarterFieldA.png">
         <img id="mid" class="mf" src="/images/midfield.png">
         <img id="qfd" class="qf" src="/images/quarterFieldD.png">
         <img id="ball" src="/images/ball.png" >
         <img id="g1" class:"goal" src="/images/soccerGoal.png">
         <img id="g2" class:"goal" src="/images/soccerGoal.png">
         </div>
         <div id="contestants" class="contest" >
          <div class="team">
           <label> TeamA_Player:</label>
               <input type="text" value= <%=playerA%> id="teamA" >
           <label>Question: </label> 
               <input type="text" id="quesA" class = 'wideInput' value=<%=questionA%>/> 
               <select id= "judgeA" name="A_isCorrect:">
                 <option value=-1>Ans</option>
                 <option value=1 >Right</option>
                 <option value=0 >Wrong</option>
              </select>
           
           </div>
          <div class="team">
           <label> TeamB_Player:</label>
              <input type="text" id="playerB" value =<%=playerB%>  >
           <label>Question: </label> 
              <input type="text" id="quesB" class = 'wideInput'  value=<%=questionB%>> 
               <select id= "judgeB" name="B_isCorrect:">
                 <option value=-1>Ans</option>
                 <option value=1 >Right</option>
                 <option value=0 >Wrong</option>
              </select>
         </div>
        </div>
      </div>
      <div id="arrows"> 
        <img id="arrowLeft" src="/images/arrowLeft.png" z-index=' <%=leftArrowIsVisible%>' >
        <img id="arrowRight" src="/images/arrowRight.png" >
      </div>
      <div id="timer" name="remaining" ><%=remaining%></div>
      <div id="scores" >
       <div id="scoreA">
          A <input type="text" name="scoreA"  class= "scoreInput" value=<%=scoreA%>>
      </div>
      <div id="scoreB">
          B <input type="text" name="scoreB" class= "scoreInput" value=<%=scoreB%>>
      </div>
     </div>
      <div id='buttons'>
        <input type="submit" class = "button" id="dir" value="Change Possession" formaction='/possession' formmethod="post" formenctype="application/x-www-form-urlencoded" >
        <input type="submit" class = "button" id="adv" value="Advance" formaction='/advance' formmethod="post" formenctype="application/x-www-form-urlencoded" >
        <input type="submit" class = "button" id="quest" value="Questions" formaction='/questions' formmethod="post" formenctype="application/x-www-form-urlencoded" >
      </div>
   </div>
</form>
<script>
var ballPositions =['68px','340px','580px','850px','1100px'] 
</script>
</body>
</html>
