<!--File: football.ejs -->

<!DOCTYPE html>

<html lang="en"tArrow

<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> 
<style>
#game {position: absolute; left: 290px; top: 0px; background-color: lightgreen; width: 1200px; height: 835px;}

#chile{z-index:0; position: absolute; top: 616px; left: -200px; }

#field {position:absolute; left: 0px; top: 83px;  width:1200px; height:600px;background-color:#90EE90}
.qf { width: 250px; height: 600px; float: left; z-index:2; }
#qfa {position: relative; left: 79px; top: 2px;}
#mid {position: relative; left: -171px; top: 1px; width: 500px; height: 600px; z-index: 0;}
#qfd {position: relative; left: 579px; top: 2px; z-index: 1; }
.goal {width:30px; height:90px; }
#g1{position: absolute; left: 49px; top: 263px; width: 30px; height: 90px; z-index: 2;}
#g2{position: absolute; left: 1078px; top: 266px; width: 30px; height: 90px; z-index: 2;}
#ball { position: absolute;  top: 282px; width:30px; height:30px; z-index: 3; left:"";} 
#buttons {position: absolute; top: -126px; font-size: 14em; left: 429px;}
.button {margin:2px;background-color:lightgrey}
#questions {position: absolute; left: 0em; top: 0px; background-color: lightblue; width: 290px;     height: 835px; }
#game_timer {position: absolute;top: 0em; left: .5em;  font-size: xx-large;}
#timer30 { position: relative; width: 116px; top: 574px; left: 165px; }
#txt {position: relative; left: 4em; top: -1.5em;}
#seconds {max-width: 45px; left: -10px; position: relative; }
#falta {position: absolute; font-size: x-large; width: 50px;    text-align: center; } 
#scores{ font-size: large; position: relative; top: 3em; left: 19px; }
.scoreInput{width: 30px; font-size: large; position: relative; top: -10px; margin: 2px;text-align:center;} 
#QA {position: relative; top: 5em; left:.75em; width:280px; height:80%; font-size: 1.2em; }
.q_A {position:relative; top: 1em; width:90%;font-size:1em;}
#betweenQA {height: 2em; }
.team {font-size:1.2em; vertical-align:top; }
.AnswerLabel {position:relative; top: 1em;}
#showAnswer {position: relative;top: 1.5em; left: 1em; };
H1 { text-align: center; width:1000px; font-size: 2.17em;    margin-left: 200px;}
#title {text-align:center; width:1000px; font-size:2em;}
.flag {position:"relative"; width: 133px; height: 95px;}
#leftFlagDiv { position: absolute; left: 80px; top: 731px; width: 133px; height: 95px;}
#leftFlag { position: relative;}
#rightFlagDiv {position: absolute; left: 941px; top: 723px; width: 133px; height: 95px;}
#flagRight { position: relative;}
#arrowsDiv { position: absolute; left: 514px; top: 126px; width: 110px; height: 1px;}
#leftArrow {position: relative; top: -15px; }
#rightArrow { position: relative; top: -83px; left: 22px; }
.goalBar {height:55px;width:108px;}
#leftGoalBarDiv { position: relative; top: 276px; left: -14px; height: 65px; width: 110px; z-index: 2; -webkit-transform: rotate(-90deg); }
#rightGoalBarDiv { position: absolute; top: 360px; left: 1059px; z-index: 2; -webkit-transform: rotate(90deg); }
.scoreBar {height: 30px; width: 100px; }
#leftScoreBarDiv  { position: absolute; top: 35px; left: -272px; z-index: 2;}
#rightScoreBarDiv { position: absolute; top: 68px; left: -269px; z-index: 2; }
</style>
</head>

<body class="container">
<form id="wholeForm">
<div id="game">
<input type="hidden" name="leftIndex"           value='<%=leftIndex %>'      />
<input type="hidden" name="rightIndex"          value='<%=rightIndex %>'     />
<input type="hidden" name="leftScore"           value='<%=leftScore %>'      />
<input type="hidden" name="rightScore"          value='<%=rightScore %>'     />
<input type="hidden" name="ballLocation"        value='<%=ballLocation %>'    />
<input type="hidden" name="ballDirection"       value='<%=ballDirection %>'   />

<H1 id='title'><%=name %> </H1>
<div id="arrowsDiv">    </div>
<div id="leftFlagDiv">     </div>
<div id="rightFlagDiv">    </div>
<div id="leftGoalBarDiv">  </div>
<div id="rightGoalBarDiv"> </div>
<div id="leftScoreBarDiv">  </div>
<div id="rightScoreBarDiv"> </div>
<div id="field">
   <img id="qfa" class="qf" src="/images/quarterFieldA.png">
   <img id="mid" src="/images/midfield.png">
   <img id="qfd" class="qf" src="/images/quarterFieldD.png">
   <img id="g1" class:"goal" src="/images/soccerGoal.png">
   <img id="g2" class:"goal" src="/images/soccerGoal.png">
   <img id="ball" src="/images/ball.png" left="">
</div>
<div id='buttons'>
        <input type="submit" class = "button" id="dir" value="Change Possession" formaction='/possession' formmethod="post" formenctype="application/x-www-form-urlencoded" />
        <input type="submit" class = "button" id="adv" value="Advance Ball" formaction='/advance' formmethod="post" formenctype="application/x-www-form-urlencoded" />
      </div>

</div>
<div id="questions">
      <div id="game_timer" >Clock:<input type="text" id="falta" name="remaining"  value ='<%=remaining %>' width= 50px readonly > </div>
      <div id="scores" >
      </div>
         <div id="QA" class="contest" >
           <select id="team" name="team" autofocus>
             <option id="leftCountry"  value="1"></option>
             <option id="rightCountry" value="2"></option>
            </select> 
           <select id="mode" name="mode" >
             <option value="1" >Advance</option>
             <option value="2" >Possess</option>
           </select>
           <input  type='submit' class = "button" id="quest" value="Question" formaction='/question' formmethod="post" formenctype="application/x-www-form-urlencoded" /> 
               <textArea id="question_A" name="questionA" class= "q_A" font-size="1.2em" rows="15" cols="10" ><%=questionA %> </textArea>
               <div id="betweenQA">
                <label class="AnswerLabel" >Response </label>
	        <input type='submit' id="showAnswer" class="button"  value="Response" formaction='/answer' formmethod="post" formenctype="application/x-www-form-urlencoded" /> 
               </div>
               <textArea id="answer_A" name="answerA" class= "q_A" rows="5" cols="10"><%=answerA %> </textArea>
        </div>
</div>
</div>
</form> 
<div id='timer30'>
  <button id= "start" class="button" >Timer</button>
  <div id="txt"><input type="text" id="seconds" value=''+30 readonly></div>
</div>
<audio id= "beep" >
  <source src="sounds/beep-07.wav" type="audio/wav">
</audio>
<audio id= "homer" >
  <source id="homer" src="sounds/homer.wav" type="audio/wav">
</audio>

<script>
  var flags= [
    '<img class="flag" id="BA" src="/images/BanderaArgentina.png">'
  , '<img class="flag" id="BB" src="/images/BanderaBrasil.png">'
  , '<img class="flag" id="BC" src="/images/BanderaChile.png">'
  , '<img class="flag" id="BM" src="/images/BanderaMexico.png">'
  ];
  var leftArrows= [
    '<img id="leftArrow" src="/images/ArrowLeftA.png">'
  , '<img id="leftArrow" src="/images/ArrowLeftB.png">'
  , '<img id="leftArrow" src="/images/ArrowLeftC.png">'
  , '<img id="leftArrow" src="/images/ArrowLeftM.png">'
  ];
  var rightArrows= [
    '<img id="rightArrow" src="/images/ArrowRightA.png">'
  , '<img id="rightArrow" src="/images/ArrowRightB.png">'
  , '<img id="rightArrow" src="/images/ArrowRightC.png">'
  , '<img id="rightArrow" src="/images/ArrowRightM.png">'
];
  var countries = ["Argentina", "Brasil", "Chile", "Mexico"];
  var scoreBars =[
    '<img class="scoreBar" src="/images/ArgentinaScoreBar.png">'
   , '<img class="scoreBar" src="/images/BrasilScoreBar.png">'
   , '<img class="scoreBar" src="/images/ChileScoreBar.png">'
   , '<img class="scoreBar" src="/images/MexicoScoreBar.png">'
  ]
 var goalBars =[
    '<img class="goalBar" src="/images/ArgentinaScoreBar.png">'
   , '<img class="goalBar" src="/images/BrasilScoreBar.png">'
   , '<img class="goalBar" src="/images/ChileScoreBar.png">'
   , '<img class="goalBar" src="/images/MexicoScoreBar.png">'
  ];

var ballPositions= ["50px", "264px","560px","862px","1078px" ]; 

var beep = document.getElementById("beep"); 
var homer = document.getElementById("homer"); 
var limit = 30; //30 seconds
var start, endMs ;
$(document).ready( function(){

var leftIndex=<%=leftIndex %>;
var rightIndex=<%=rightIndex %>;
var ballLocation =<%=ballLocation %>; 
var ballDirection =<%=ballDirection %>; 
console.log('leftIndex: ' + leftIndex + ' rightIndex: '+ rightIndex + ' ballLocation: '+ ballLocation + ' ballDirection: '+ballDirection);
$('#leftFlagDiv').html(  flags[leftIndex]);
$('#rightFlagDiv').html( flags[rightIndex]);
$('#leftGoalBarDiv').html(  goalBars[leftIndex]  );
$('#rightGoalBarDiv').html( goalBars[rightIndex]); 
//$('#leftScoreBarDiv').html( scoreBars[leftIndex]);
//$('#rightScoreBarDiv').html(scoreBars[rightIndex]);
$('#leftCountry').html(countries[leftIndex] );
$('#rightCountry').html(countries[rightIndex] );
$('#team').val(<%=team %>);
$('#mode').val(<%=mode %>);
$('#arrowsDiv').html(leftArrows[leftIndex] + rightArrows[rightIndex]);
setArrowVisibility( ballDirection );
setBallPosition( ballLocation );
setScores(leftIndex, rightIndex);
var q = $('#question_A').val() ;
if(q.length>1) { 
 setTimeout(function(){
//   alert('Question length is: ' + q.length)
   $("#start").trigger("click"); 
}, 2000);
}
if(<%=remaining %> < 1 ) {
   $('.button').prop('disabled', true);
   $('#title').html( 'Americas Cup of English Is Over!!!');
   $('#question_A').val( 'Great game!!!');
   $('#answer_A').val('You are all winners!!!');

}
$(document).keyup( function(event){
console.log('Key was: ' + event.which)
if(81 === event.which) { 
//    alert('Pressed key for : Next Question'  );
 $("#quest").trigger( "click" );
}
if(65 === event.which) { 
//    alert('Pressed key for : Show Answer'  );
 $("#showAnswer").trigger( "click" );
}
if(75 === event.which) { 
//   alert('Pressed key for : Start question timer'  );
 $("#start").trigger("click");
}
if(77 === event.which) { 
//    alert('Pressed key for : Advance ball'  );
 $("#adv").trigger("click");
}
if(80  === event.which) { 
//   alert('Pressed key for : Change Possession' )
 $("#dir").trigger("click");
}
});
$('#start').on( "click", function() {
  console.log( 'Clicked start QuestionTimer.');
 init();
});
var init=function(){
start= new Date();
endMs = start.getTime() + 30000;
oneTick();
}
var oneTick=function () {
    s= Math.floor((endMs - new Date().getTime())/1000);
    s = checkTime(s);
    $('#seconds').val(s);
    console.log('time: ' + s);
    var t = setTimeout(function(){ 
       if(s> 0){
         oneTick();} 
       else{
       beep.play();
       s='Expired!';
       setTimeout(function(){
          homer.play();}, 1000);
       $('#seconds').val(s); } }, 1000);
}

// add a zero in front of numbers<10
function checkTime(i) {
    if (i < 10) {
        i = "0" + i;
    }
    return i;
}
});
var setArrowVisibility= function(ballDirection){
 $('#leftArrow').css('z-index', (ballDirection>0)? 0 :2 );
 $('#rightArrow').css('z-index', (ballDirection>0)? 2 :0 );
}//function
var setBallPosition= function(ballLocation){
// $("ball").animate({left: ballPositions[ballLocation]});
  $('#ball').css('left', ballPositions[ballLocation]);
}//function
var setScores=function(leftIndex, rightIndex){
  var leftScoreBar= scoreBars[leftIndex];
  var rightScoreBar= scoreBars[rightIndex];
  $('#scores').html(leftScoreBar + '<input type="text" class="scoreInput" readonly="true" value="<%=leftScore %>" >' 
        + '<br>' + rightScoreBar + '<input type="text" class="scoreInput"  readonly="true" value="<%=rightScore %>" >');
}//function
  </script>
</body>
</html>
